@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
}

.test:hover .card_field {
  background-color: #3f3f44;
}